@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html {
    background-color: black;
    font-family: 'Press Start 2P', monospace;
}

body {
    text-align: center;
}

div {
    color: white;
    font-size: 40;
}

canvas {
    margin:  0;
    padding: 0;
    /* border: 3px solid white; */
}